<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="resourceDiscoverService" class="ru.korolkovrs.spring.service.ResourceProviderServiceImpl">
      <constructor-arg name="fileName" value="csv/questions.csv"></constructor-arg>
   </bean>

   <bean id="questionDao" class="ru.korolkovrs.spring.dao.QuestionDaoImpl">
      <constructor-arg name="resourceDiscoverService" ref="resourceDiscoverService"></constructor-arg>
   </bean>

   <bean id="questionController" class="ru.korolkovrs.spring.controller.QuestionControllerImpl">
      <constructor-arg name="dao" ref="questionDao"></constructor-arg>
   </bean>
</beans>