<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All books</title>
</head>
<body>
<table books>
    <tr>
        <th>Id</th>
        <th>Название</th>
        <th>Автор</th>
        <th>Жанр</th>
        <th></th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">id</td>
        <td>
            <a th:text="${book.title}" th:href="@{/book(id=${book.id})}" href="book.html">название</a>
        </td>
        <td th:text="${book.author.name}">автор</td>
        <td th:text="${book.genre.genreName}">жанр</td>
        <td>
            <a th:href="@{/book/edit(id=${book.id})}" href="edit_book.html">Редактировать</a>
        </td>
        <td>
            <form th:method="delete" th:action="@{/book(id=${book.id})}">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
</table>

<div>
    <a th:href="@{/book/add}" href="add_book.html">Добавить книгу</a>
</div>
</body>
</html>