<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<div>
    <a th:href="@{/book(id=${comment.getBook().id})}" href="books.html">К описанию книги</a>
</div>
<table Comment>
    <tr>
        <th>id</th>
        <th>Комментарий</th>
        <th>Создан</th>
        <th>Обновлен</th>
    </tr>
    <tr>
        <td th:text="${comment.id}"></td>
        <td th:text="${comment.text}"></td>
        <td th:text="${#dates.format(comment.createdAt, 'dd-MM-yy HH:mm:ss')}"></td>
        <td th:text="${#dates.format(comment.updatedAt, 'dd-MM-yy HH:mm:ss')}"></td>
    </tr>
</table>

<form id="edit-form" action="edit_comment.html" th:method="post" th:action="@{/comment}" th:object="${comment}">
    <input id="id-input" type="text" th:field="*{id}" hidden>
    <input id="title-input" type="text" value="text" th:field="*{text}">
    <input id="book-id-input" type="text" th:value="*{book.id}" name="bookId" hidden>
    <div>
        <button type="submit">Сохранить</button>
    </div>
</form>
</div>
</body>
</html>
</html>